# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Runtime data
data/
logs/
*.db
app/data/backups/
app/data/health.txt
app/data/database.db

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
tree.py

# Temporary files
temp/
tmp/